<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://minima.namishh.com/dist/minima.min.css" />
    <script defer src="https://minima.namishh.com/dist/minima.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <title> Testingg </title>
</head>

<body>
    <h1>Dashboard</h1>
    <br>
    <form class="form" id="formCreate" hx-post="/create" hx-trigger="submit">
        <button id="create" class="button-primary">Create a room</button>
        <br>
    </form>
    <br>
    <form class="form" id="formJoin" hx-post="/dashboard" hx-trigger="submit">
        <label for="join" class="form-label">To Join</label>
        <input type="text" name="roomcode" id="join" class="form-input" autocomplete="off">
        <button id="button_join" class="button-primary">Join</button>
    </form>
    <br>
    <form id="formlogout">
        <button class="button-primary" id="logout" hx-post="/logout" hx-swap="none">Logout</button>
    </form>
    <br>

    <script>
        const formJoin = document.querySelector("#formJoin")
        const formCreate = document.querySelector("#formCreate")

        const create = document.querySelector("#create")
        const join = document.querySelector("#join")

        const createUrl = "http://localhost:8080/create"
        const roomUrl = "/room/"
        const joinUrl = "/dashboard"
        const logouturl = "/logout"
        const formlogout = document.querySelector("#formlogout")
    </script>
</body>

</html>