<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://minima.namishh.com/dist/minima.min.css" />
    <script defer src="https://minima.namishh.com/dist/minima.min.js"></script>
    <title> Testingg </title>
</head>

<body>
    <h1>Dashboard</h1>
    <br>
    <p>Currently just slop i suppose</p>
</body>

</html>