<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://minima.namishh.com/dist/minima.min.css" />
    <script defer src="https://minima.namishh.com/dist/minima.min.js"></script>
    <title> Testingg </title>
</head>

<body>
    <h1>Dashboard</h1>
    <br>
    <form class="form" id="formCreate">
        <button id="create" class="button-primary">Create a room</button>
        <br>
    </form>
    <br>
    <form class="form" id="formJoin">
        <label for="join" class="form-label">To Join</label>
        <input type="text" name="join" id="join" class="form-input" autocomplete="off">
        <button id="join" class="button-primary">Join</button>
    </form>
    <br>
    <form id="formlogout">
        <button class="button-primary" id="logout">Logout</button>
    </form>
    <br>

    <script>
        const formJoin = document.querySelector("#formJoin")
        const formCreate = document.querySelector("#formCreate")

        const create = document.querySelector("#create")
        const join = document.querySelector("#join")

        const createUrl = "http://localhost:8080/create"
        const roomUrl = "/room/"

        const logouturl = "/logout"
        const formlogout = document.querySelector("#formlogout")

        formlogout.addEventListener("submit", async (e) => {
            e.preventDefault()
            const response = await fetch(logouturl, {
                method: "POST",
            });
            console.log(response.status);
            console.log(response.headers.get("content-type"));

            if (!response.ok) {
                throw new Error(`response status: ${response.status}`)
            }

            const result = await response.text();
            window.location.href = "/";
            console.log(result);
        })

        formJoin.addEventListener("submit", (e) => {
            e.preventDefault();
            formJoinData = new FormData(formJoin);

            const code = formJoinData.get("join")
            console.log(code)
            window.location.href = roomUrl + code;
        })

        formCreate.addEventListener("submit", async (e) => {
            e.preventDefault();
            try {
                const response = await fetch(createUrl, {
                    method: "POST",
                });
                console.log(response.status);
                console.log(response.headers.get("content-type"));

                if (!response.ok) {
                    throw new Error(`response status: ${response.status}`)
                }

                const result = await response.json();
                console.log(result)

                window.location.href = roomUrl + result

            }
            catch (error) {
                console.log(error)
            }
        })
    </script>
</body>

</html>