<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://minima.namishh.com/dist/minima.min.css" />
    <script defer src="https://minima.namishh.com/dist/minima.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <title> Testingg </title>
</head>

<body>
    <h1>Testing at Login</h1>
    <br>

    <style>
        .form-error-username {
            color: var(--color-danger);
        }

        .form-error-password {
            color: var(--color-danger);
        }
    </style>

    <form id="form" class="form" hx-post="/login" hx-trigger="submit" hx-target="#login-error" hx-swap="innerHTML">
        <label for="username" class="form-label">Username </label>
        <br>
        <input class="form-input" type="text" name="username" id="username" required autocomplete="off">
        <br>
        <br>
        <label for="password" class="form-label">Password </label>
        <br>
        <input class="form-input" type="password" name="password" id="password" required autocomplete="off">
        <br>
        <div id="login-error" class="form-error-password"></div>
        <br>
        <button type="submit" class="button-primary">Submit</button>
    </form>

    <script>
        const form = document.querySelector("#form")
        const errPassword = document.querySelector(".form-error-password")

        document.body.addEventListener("htmx:afterRequest", function (event) {
            const xhr = event.detail.xhr

            if (xhr.status === 400) {
                errPassword.textContent = xhr.responseText
                errPassword.style.opacity = 1
            }

        })
    </script>
</body>

</html>