<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://minima.namishh.com/dist/minima.min.css" />
    <script defer src="https://minima.namishh.com/dist/minima.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <title> Testingg </title>
</head>

<body>
    <h1>Testing at Login</h1>
    <br>

    <style>
        .form-error-username {
            color: var(--color-danger);
            opacity: 0;
        }

        .form-error-password {
            color: var(--color-danger);
            opacity: 0;
        }
    </style>

    <form id="form" class="form" hx-post="/login" hx-trigger="submit">
        <label for="username" class="form-label">Username <span class="form-error-username">Incorrect
                Username</span></label>
        <br>
        <input class="form-input" type="text" name="username" id="username" required autocomplete="off">
        <br>
        <br>
        <label for="password" class="form-label">Password <span class="form-error-password">Password is
                Incorrect</span></label>
        <br>
        <input class="form-input" type="password" name="password" id="password" required autocomplete="off">
        <br>
        <br>
        <button type="submit" class="button-primary" >Submit</button>
    </form>

    <script>
        url = "http://localhost:8080/login"
        baseurl = "http://localhost:8080"

        const form = document.querySelector("#form")
        const username = document.querySelector("#username")
        const password = document.querySelector("#password")

        const errPassword = document.querySelector(".form-error-password")
        errPassword.style.opacity = 0

        const errUser = document.querySelector(".form-error-username")
        errUser.style.opacity = 0
    </script>
</body>

</html>