<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://minima.namishh.com/dist/minima.min.css" />
    <script defer src="https://minima.namishh.com/dist/minima.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
    <title> Testingg </title>
</head>

<body>
    <h1>Dashboard</h1>
    <br>
    <p>Currently just slop i suppose</p>
    <br>
    <div id="messageHistory" hx-get="/room/{{ .RoomCode }}/msg" hx-trigger = "load" hx-swap="innerHTML">
    </div>
    <div hx-ext="ws" ws-connect="/ws/{{ .RoomCode }}">
        <div id="log">
        </div>
        <form id="form" class="form" ws-send>
            <input type="submit" value="Send" class="button-primary">
            <input type="text" name="message" id="msg" size="64" autofocus class="form-input">
        </form>
        <br>
        <br>
        <form id="formLeaveRoom" hx-post="/room/{{ .RoomCode }}/leave" hx-trigger="submit">
            <button class="button-primary" id="leave">Leave Room</button>
        </form>

        <br>
</body>

<script>
    document.body.addEventListener("htmx:wsAfterSend", function (event) {
        const form = document.getElementById("form");
        const input = document.getElementById("msg");

        form.reset();
        input.focus();
    });
</script>

//templates
{{ define "message" }}
<div id="log" hx-swap-oob="beforeend">
    <p>
        <strong>{{ .Username }}</strong>: <span hx-disable> {{ .Message }}</span> <span>{{ .Time_Stamp }}</span>
    </p>
</div>
{{ end }}

{{ define "messageHistory" }}
    {{ range . }}
        <div class="chat-message">
            <strong>{{ .Username }}:</strong>
            <span class="body">{{ .Message }}</span>
            <span class="time">{{ .Time_Stamp }}</span>
        </div>
    {{ else }}
        <p>No messages in this room yet.</p>
    {{ end }}
{{ end }}
</html>
