<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://minima.namishh.com/dist/minima.min.css" />
    <script defer src="https://minima.namishh.com/dist/minima.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
    <title> Testingg </title>
</head>

<body>
    <h1>Dashboard</h1>
    <br>
    <p>Currently just slop i suppose</p>
    <br>
    <div hx-ext="ws" ws-connect="/ws/{{ .RoomCode }}">
        <div id="log">
        </div>
        <form id="form" class="form" ws-send>
            <input type="submit" value="Send" class="button-primary">
            <input type="text" name="message" id="msg" size="64" autofocus class="form-input">
        </form>
        <br>
        <br>
        <form id="formLeaveRoom" hx-post="/leave" hx-trigger="submit">
            <button class="button-primary" id="leave">Leave Room</button>
        </form>
        <br>
</body>

<script>
    document.body.addEventListener("htmx:wsAfterSend", function (event) {
        document.getElementById("form").reset();
        document.getElementById("msg").focus();
    });
</script>

{{ define "message" }}
<div id="log" hx-swap-oob="beforeend">
    <p>
        <strong>{{ .Username }}</strong>: {{ .Message }}
    </p>
</div>
{{ end }}

</html>